body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #C40C0C;
}
main{
    margin:2em 3em;
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: #FF6500;
    border-radius: 20px;
    min-width:60%;
}
figure{
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF8A08;
    gap:1.5em;
}
img{
    border-radius: 50%;
    max-width:50%;
    height:20%;
    object-fit: cover;
}
#tribute-info{
    display:flex;
    flex-direction: column;
    align-items:center;
}
li{
    margin:1.5em 1em;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
footer{
    text-align: center;
}
a:hover{
    color: #FF8A08;
}